@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li {
    @apply px-2;
}

.bg-primary {
    background-color: #003135;
}

.bg-secondary {
    background-color: #024950;
}

.section {
    @apply w-full h-full;
}

.description {
    @apply absolute top-0 left-0 right-0 bottom-0 text-center flex flex-col justify-center opacity-0 duration-500 hover:bg-gray-900 hover:opacity-100;
}

.mobile-nav {
    @apply bg-gray-900 fixed top-10 h-1/5 left-0 w-full;
}

.mobile-nav li {
    @apply w-full h-full text-center border-b-2 ;
}

html {
    scroll-behavior: smooth;
}